body{
    background: purple;
}
header{
    /*background-color: aquamarine;*/
    background: linear-gradient(90deg,aquamarine,rgb(74, 145, 121));
    padding:10px 0 0 7px;
    display: block;
    border-radius: 10px 10px 0 0;
}
main{
    background-color: rgb(14, 63, 63);
    padding:20px 0;
    /*position: absolute;*/
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
}
.contenido{
    width:60%;
   /* background-color: rgb(46, 98, 114);*/
    display: block;
    height:100%;
    padding: 20px 0;
    margin:10px;
    align-items:stretch;
    border-radius: 15px;
    font-family: 'Love Ya Like A Sister', cursive;
    
    /*position: relative;*/
    background: linear-gradient( rgb(120, 171, 187),rgb(46,98,114));

}
.contenido h2{
    color:rgb(29, 29, 63);
}
.textIN, #resul{
    position: relative;
    background: rgb(193, 233, 193);
    margin:15px auto;
    display: block;
    padding: 20px;
    text-transform: lowercase;
}
.textIN{
    margin-bottom: 5px;
    width: 80%;
    height: 150px;
}

.warning{
    font-size: 12px;
    font-style: italic;
    
}
.botones{
    text-align: center;    
}
.botones input{
    background: rgb(219, 178, 219);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid purple;
    width: 120px;
}
.botones input:hover, button:hover{
    background: rgb(243, 245, 158);
}
#btnG{
    width: 160px;
}
.lado{
    /*display: flex;*/
    width:30%;
    /*background-color: rgb(158, 92, 221);*/
    background: linear-gradient(rgb(158, 92, 221), rgb(86, 48, 122));
    border-radius: 32px;
    height: 100%;
    margin: 10px;
    padding: 20px;
    /*position: relative;*/
}
.lado p::before{
    content: "\270B  ";
}
.lado p::after{
    content:" \1F91A";
}
.lado h2{
    color:rgb(29, 29, 63);
}
#resul{
    padding: 30px;
    border-radius: 10px;
    /*padding: 10px;*/
}
button{
    background: rgb(211, 163, 211);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid purple;
    width: 250px;
}
.lineaAbajo, .lineaArriba{

    width:100%;
    height:20px;
    background: url(llaves2.png);
}
.lineaAbajo{
    
    border-bottom: 10px solid rgb(14, 63, 63);
}
.lineaArriba{
    border-top: 10px solid rgb(14, 63, 63);
}
footer{
   /* background: aquamarine;*/
    background:linear-gradient(45deg, rgb(233, 195, 243), rgb(175, 238, 222), rgb(16, 183, 212));
   /* display: flex;*/
   margin: 0;
   align-items: center;
   justify-content: center;
   display: flex;
   border-radius: 0 0 10px 10px;
    flex-direction: column;
    
}
footer h3, footer h4{
    text-align: center;
    color: rgb(24, 90, 92);
    
    
}
#firma{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
#firma::before{
  content: "\1F3F0  ";/*castillo*/
}
#firma::after{
    content:" \1F3F0";
}


@media screen and (max-width:767px) {
main{
    display: block;
}
.contenido{
    width: 90%;
    margin: auto;
}
.lado{
    width: 80%;
    
}

}
@media screen and ((min-width: 768px) and (max-width:1023px)) {
    main{
        display: block;
    }
    .contenido{
        width: 90%;
        margin: auto;
    }
    #sin{
        width: 85%;
        margin: auto;
        margin-top: 10px;
        
    }
    #con{
        width: 80%;
       margin: auto;
       margin-top: 10px;
    }
    #resul{
        width:70%;
        height: 150px;
    }
    
    }